.StandardProjectSummaryElement
{
    padding: 10px 0;
    width: 100%;
}

.StandardProjectSummaryElementTitle
{
    padding: 20px 10%;
}

.StandardProjectSummaryElementTitle > div {
    font-family: Quicksand, Merriweather;
    text-align: center;
    border-radius: 10px;
    background-color: #FFFFFFA0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.SummaryEngineButtonWithoutClick
{
    all: unset;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 5px;
    width: auto;
    margin: 10px 10px;
    font-size: 22px;
    color: #333333;
}

.SummaryEngineButton
{
    all: unset;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 5px;
    width: auto;
    margin: 10px 10px;
    font-size: 22px;
    color: #333333;

    background-color: #00000010;
    transition: background-color .5s cubic-bezier(.05,0,0,1);
}

.SummaryEngineButton:hover
{
    background-color: #00000020;
}

.SummaryEngineButtonWithoutClick >svg,
.SummaryEngineButton > svg
{
    width: 20px;
    height: 20px;
    padding: 5px;
}

.SummaryPublishButton
{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0 10px;*/
    margin: 10px 10px;
    border-radius: 5px;

    background-color: #00000010;
    transition: background-color .5s cubic-bezier(.05,0,0,1);
}

.SummaryPublishButton:hover
{
    background-color: #00000020;
}

.SummaryPublishButton > svg
{
    width: 25px;
    height: 25px;
    padding: 5px;
}